@model IEnumerable<FreeLancing.Models.Bid>

<h1>
    Current Bids
</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bidder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.Durtion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@if (Model != null)*@
        @*{*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BidAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bidder.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job.Durtion)
                    </td>
                    <td>
                        <a asp-action="Chat" asp-route-email="@item.Job.Organization.Email"><i class="bi bi-chat-left-text" style="font-size: 21px;"></i></a>
                    </td>
                </tr>
            }

        @*}*@

    </tbody>
</table>