@model IEnumerable<FreeLancing.Models.Bid>
<br />
<h3>Overview</h3>
<div class="row">
<a asp-action="AvialableJobs" id="AvailableJobs" >
    <div class="card_containerx" onclick="document.getElementById('AvailableJobs').click()">
        <div class="cardx">
            <div class="upperx">
                <div class="vectorx">
                    <i class="bi bi-hourglass-top" style="font-size: 50px;"></i>
                </div>
                <div class="contentx">
                    <h1 class="titlex"><a asp-action="AvialableJobs" asp-route-jobId="" class="titlex_a">Available Jobs</a></h1>
                    <h3 class="valuex">@Model.Where(a=>a.Job.IsAssigned==false).Count()</h3>
                </div>
            </div>
            <div>
                <hr />
            </div>
            <div class="lowerx">
                <h4 class="h4_emailx">View All</h4>
            </div>
        </div>
    </div>
</a>
<a asp-action="InProgressJobs" id="InProgressJobs" onclick="document.getElementById('posted').click()">
    <div class="card_containerx" onclick="document.getElementById('InProgressJobs').click()">
        <div class="cardx">
            <div class="upperx">
                <div class="vectorx">
                    <i class="bi bi-clock-history" style="font-size: 50px;"></i>
                </div>
                <div class="contentx">
                    <h1 class="titlex"><a asp-action="InProgressJobs"  class="titlex_a">In Progress Jobs</a></h1>
                    <h3 class="valuex">@Model.Where(a=>a.Job.IsAssigned==true && a.Job.IsSubmitted== false).Count()</h3>
                </div>
            </div>
            <div>
                <hr />
            </div>
            <div class="lowerx">
                <h4 class="h4_emailx">View All</h4>
            </div>
        </div>
    </div>
</a>
<a asp-action="Completed" id="CompletedJobs" >
    <div class="card_containerx" onclick="document.getElementById('CompletedJobs').click()">
        <div class="cardx">
            <div class="upperx">
                <div class="vectorx">
                    <i class="bi bi-hourglass-bottom"  style="font-size: 50px;"></i>
                </div>
                <div class="contentx">
                    <h1 class="titlex"><a asp-action="Completed"  class="titlex_a">Completed</a></h1>
                    <h3 class="valuex">@Model.Where(a=>a.Job.IsCompleted==true).Count()</h3>
                </div>
            </div>
            <div>
                <hr />
            </div>
            <div class="lowerx">
                <h4 class="h4_emailx">View All</h4>
            </div>
        </div>
    </div>
</a>
</div>
<div class="row">
    <a asp-action="">
    <div class="card_containerx">
        <div class="cardx">
            <div class="upperx">
                <div class="vectorx">

                     <i class="bi bi-cash-stack" style="font-size: 50px;"></i>
                </div>
                <div class="contentx">
                    <h1 class="titlex"><a  class="titlex_a">Pending Balance</a></h1>
                    <h3 class="valuex">@Model.Where(c=>c.Job.IsCompleted==false&&c.Job.IsAssigned==true).Select(a=>a.BidAmount).Sum() Rs</h3>
                </div>
            </div>
            <div>
                <hr hidden/>
            </div>
            <div class="lowerx">
                <h4 class="h4_emailx"></h4>
            </div>
        </div>
    </div>
</a>
<a asp-action="">
    <div class="card_containerx">
        <div class="cardx">
            <div class="upperx">
                <div class="vectorx">

                    <i class="bi bi-cash-stack" style="font-size: 50px;"></i>
                </div>
                <div class="contentx">
                    <h1 class="titlex"><a  class="titlex_a">Wallet</a></h1>
                    <h3 class="valuex">@Model.Where(c=>c.Job.IsCompleted==true).Select(a=>a.BidAmount).Sum() Rs</h3>
                </div>
            </div>
            <div>
                <hr hidden />
            </div>
            <div class="lowerx">
                <h4 class="h4_emailx" ></h4>
            </div>
        </div>
    </div>
</a>
</div>


        <style>
    @@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
    @@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .clearfix::before, .clearfix::after {
        content: "";
        display: table;
    }

    .clearfix::after {
        clear: both;
    }



    #wrapper {
        max-width: 60rem;
        width: 100%;
        margin-left: 5rem;
        /*margin: 1rem auto;*/
        /*padding: 2rem;*/
        background: #fff;
        border: 1px solid transparent;
    }

    input {
        display: inline-block;
        outline: 0;
        border: none;
        border-bottom: 2px solid #000;
        width: 80%;
        /*margin-bottom: 3rem;*/
        padding: 0.25rem;
        font-family: 'Dosis', sans-serif;
        font-size: 1.5rem;
        font-style: italic;
        color: #1c1c1c;
        height: 40px;
    }

    button.search {
        display: inline-block;
        background-color: transparent;
        letter-spacing: 0.15em;
        text-transform: uppercase !important;
        font-size: 1rem;
        font-weight: 700;
        border: 2px solid #999;
        border-bottom: 5px solid #999;
        border-radius: 40px;
        color: #333;
        border-radius: 40px;
        display: inline-block;
        padding: 8px 40px;
        cursor: pointer;
        outline: 0;
        transition: all 0.35s;
    }

        button.search:hover {
            background-color: #2995E2;
            color: #f5f5f5;
        }

    /*h1 {
      margin-bottom: 2rem;
      text-align: center;
      text-transform: capitalize;
      font-family: 'Abril Fatface', cursive;
      font-size: 250%;
    }

    h2  {
      margin-bottom: 3px;
    }

    a {
      text-decoration: none;
      color: #f96816;
    }*/

    /*a.read-more {
      color: #2995E2;
      margin-top: 5px;
      display: block;
    }

    ul {
      list-style: none;
    }*/

    /*ul li {
      margin-bottom: 10px;
      border-left: 7px solid transparent;
      line-height: 1.9;
      background: #eee;
      padding: 15px;
      transition: all 0.35s;
      border-radius: 10px;
    }

    ul li:hover {
      border-left: 7px solid #2995E2;
      transition: all 0.35s;
    }
    */
    @@media (max-width: 57.1875rem) {
        #wrapper {
            width: 80%;
        }

        input {
            width: 60%;
        }

        button.search {
            font-size: 0.75rem;
            padding: 8px 20px;
            margin: 0 0 10px 3px;
        }
    }

    @@media (max-width: 38.75rem) {
        #wrapper {
            width: 95%;
        }

        input {
            width: 60%;
        }
    }

    @@media (max-width: 27.5rem) {
        body {
            font-size: 12px;
        }

        input, #wrapper {
            width: 100%;
        }

        input {
            margin-bottom: 1rem;
        }
    }

















    /*old*/
    .main_container {
        display: flex;
        flex-wrap: wrap;
    }

    .a_buy_link {
        color: white;
        text-decoration: none;
    }

        .a_buy_link:hover {
            color: white;
            text-decoration: none;
        }

    .buy_button {
        /*margin-top: 0px;*/
        border: none;
        background-color: #1b6ec2;
        color: white;
        font-weight: 400%;
        margin-right: 20px;
        height: 35px;
        border-radius: 8px;
    }

        .buy_button:hover {
            background-color: #999;
            /*color: #1b6ec2;*/
        }

    .lowerx {
        display: flex;
        justify-content: space-between;
        /*padding-bottom: 20px;*/
    }

    .h4_emailx {
        padding-top: 5px;
        font-size: 15px;
        padding-bottom: 20px;
        padding-left: 30px;
        font-family: Verdana;
        font-weight: bold;
        color: #999999;
    }

    .upperx {
        display: flex;
    }

    @@media screen and (max-width: 536px) {
        .card_containerx {
            justify-content: center;
            /*background-color: aqua;*/
            padding: 0px;
        }
    }

    .card_containerx {
        /*display: flex;*/
        /* background-color: aqua   ; */
        align-items: center;
        /* justify-content: space-between; */
        flex-wrap: wrap;
        /*padding: 20px 10px;*/
        align-items: center;
    }

    .cardx {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        width: 340px;
        height: 170px;
        display: flex;
        justify-content: space-around;
        margin: 20px;
        flex-direction: column;
    }

        .cardx:hover {
            background-color: rgb(0 0 0 / 10%);
        }

    .vectorx {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 15px;
        margin-bottom: 10px;
        flex: 0.1;
    }

    .contentx {
        margin-top: 30px;
        /* margin-bottom: 30px; */
        flex: 0.7;
    }

    .titlex {
        color: #444;
        font-size: 150% !important;
        text-decoration: none;
    }

    .titlex_a {
        color: #444;
        font-size: 100% !important;
    }

        .titlex_a:hover {
            text-decoration: none;
        }

    .valuex {
        font-family: 'Times New Roman';
        color: #999;
        font-size: 130% !important;
    }
</style>