@model IEnumerable<FreeLancing.Models.Bid>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BidAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bidder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@if (Model != null)*@
        @*{*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BidAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bidder.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job.Durtion)
                    </td>
                    <td>
                        <a asp-action="Chat" asp-route-id="@item.Bidder.Email">Chat Now</a>
                    </td>
                </tr>
            }

        @*}*@

    </tbody>
</table>