@model FreeLancing.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durtion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durtion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAssigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAssigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmittedText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSubmitted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSubmitted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tag.TagText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
